{
    "DB_HOST": "xxxx.com.br",
    "DB_PORTA": 5432,
    "DB_USUARIO": "xxxxxxx",
    "DB_SENHA": "senha",
    "DB_BANCO": "xxxxxxxx",
    "API_SPEC": "xxxxxxxxxxxxxxxx",
    "SQS_AWS_ACCOUNT_ID": "xxxxxxxx",
    "SQS_AWS_REGION": "us-east-x",
    "SQS_AWS_QUEUE_ERROR": "xxxxxxxxxx",
    "STAGE_QUEUE": "dev",
    "SECURITY_GROUP_IDS": ["sg-xxxxxxxxx"],
    "SUBNET_IDS": ["subnet-xxxxxxxxxxx", "subnet-xxxxxxxxxx"]
}
